src/main/mule/american-flight-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="10dad890-562b-47db-844a-059444039768" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="American_Flight_Database_Config" doc:name="Database Config" doc:id="0198370c-90c9-4ed9-aa45-bf2b94abe00e" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="get-all-flights" doc:id="90f8a464-cf38-406c-ad2b-83bdee58df52" >
		<db:select doc:name="Select" doc:id="0147478c-d9f3-47ea-a4c1-f93a146aa795" config-ref="American_Flight_Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5e5c0144-5ce8-43d8-8922-5d58424e0929" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	emptySeats: payload01.seatsAvailable default 0,
	destination: payload01.toAirport default "",
	departureDate: payload01.takeOffDate as String default "",
	planeType: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="american-flight-wsFlow1" doc:id="e3a3bd0d-ce9d-49d5-920d-79e2bcebab28" >
		<db:select doc:name="Select" doc:id="923b69b0-e909-47fe-8363-fd2251fa8832" config-ref="American_Flight_Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#['ID' : message.attributes.uriParams.ID]]]></db:input-parameters>
		</db:select>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;payload map ( payload01 , indexOfPayload01 ) -&gt; {&#10;	ID: payload01.ID,&#10;	code: (payload01.code1&#10;default "") ++ (payload01.code2 default ""),&#10;	price: payload01.price default 0,&#10;	emptySeats: payload01.seatsAvailable default 0,&#10;	destination: payload01.toAirport default "",&#10;	departureDate: payload01.takeOffDate as String default "",&#10;	planeType: {&#10;		"type": payload01.planeType default "",&#10;		totalSeats: payload01.totalSeats default 0&#10;	}&#10;}]' doc:name="Set Payload" doc:id="5b85ad55-5dd5-41f8-82af-ba48ae7990ce" />
	</flow>
	<flow name="american-flight-wsFlow2" doc:id="769a437e-f3b5-401f-a718-c1125361d352" >
		<set-payload value='#[output json --- message: "flight added"]' doc:name="Set Payload" doc:id="34ef35c7-36ce-4665-a5aa-c58f27ba0ab0" />
	</flow>
</mule>
